body {
  background-color: rgb(253, 251, 251);
  font-family: "Teko", sans-serif;
}
#cabecalho {
  position: fixed;
  width: 100%;
  background-color: #1abc9c;
  text-align: center;
  font-size: 28px;
  height: 80px;
  font-family: "Lobster", cursive;
}
#titulo {
  margin: 0;
}
#navegacao {
  background-color: #34495e;
  padding: 10px;
  width: 100%;
  margin-top: 80px;
  position: fixed;
  text-align: center;
  font-size: 25px;
}
#navegacao a {
  margin-right: 50px;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}
#navegacao a:hover {
  background-color: #1abc9c;
}
#content {
  width: 100%;
  display: inline-block;
}
#minha_foto {
  margin-top: 160px;
  border-style: double;
}
#artigo {
  text-align: justify;
  background-color: #d6dbdf;
}
#artigo2 {
  width: 65%;
  margin-right: 15px;
  background-color: #d6dbdf;
}
.titile-section1 {
  padding: 15px;
  display: inline-block;
}
.titile-section2 {
  padding: 15px;
  display: inline-block;
  margin-left: 50px;
}
.lado-esquerdo {
  width: 65%;
  text-align: left;
}
.lado-direito {
  float: right;
  width: 29%;
  height: 300px;
  text-align: justify;
  background-color: #d6dbdf;
}
#licoes_aprendidas {
  padding: 25px;
  width: 100%;
}
#licoes_a_aprender {
  padding: 25px;
  width: 100%;
  margin-left: 25px;
}

#rodape img {
  width: 40px;
  height: 40px;
  margin-right: 40px;
  margin-top: 15px;
}
